In [22]:
from bokeh.plotting import figure,output_file,show
import pandas

df = pandas.read_csv("./HistoryExchangeReport.csv",parse_dates=["Date"])

          Date       Rate ISO Code From ISO Code To
0   2019-06-27  110.69280           USD         NPR
1   2019-06-28  110.67333           USD         NPR
2   2019-07-01  110.92409           USD         NPR
3   2019-07-02  110.49494           USD         NPR
4   2019-07-03  110.24236           USD         NPR
..         ...        ...           ...         ...
123 2019-12-17  113.61721           USD         NPR
124 2019-12-18  113.71949           USD         NPR
125 2019-12-19  113.72822           USD         NPR
126 2019-12-20  114.13634           USD         NPR
127 2019-12-23  113.85109           USD         NPR

[128 rows x 4 columns]

In [39]:
p = figure(width=1000,height=800,title="Currency updown Rate",x_axis_type="datetime",tools=[''])
p.toolbar.logo=None
p.line(df["Date"],df["Rate"])
output_file("first-file.html")
show(p)